body{
    font-size: large;
    background: linear-gradient(skyblue, rgb(182, 226, 230));
    background-repeat: no-repeat;
}
.menu{
    width:125px; height:125px;
}
.box{
    display: flex; 
    border-radius: 15px;
    padding: 15px;
}
.menu{
    padding: 15px;
}