*{
    font-family: "Times New Roman", serif;
    margin: 0; /* Remove default margin */
}
body{
    font-size: large;
    background-color: #86B6F6;
    background-repeat: no-repeat;
    
}
.box{
    max-width: 800px;
    border-style:solid;
    border-radius: 15px;
    background-color: #EEF5FF;
    border-color: #86B6F6;
    display: flex; 
    padding: 15px;
    align-items: center; /* Center vertically */
    min-height: 30vh; /* Full viewport height */
    margin-bottom: 10px;
}
.menu{
    width:200px; height:200px;
    border-radius: 16%;
    padding: 15px;
}

.container{
    padding: 15px;
}

@media screen and (max-width: 600px) {
    /* block so to vertically */
    .box {display: block;}
    /* Allows to adjust image to center */
    .menu {
        margin: auto;
        display: block;
    }
}
